In [9]:
import pandas as pd

In [10]:
df= pd.read_csv('database\\resultado_tageado.csv', sep='|')
df.dropna()

     Tribunal  Codigo                                       Nome  is_sentenca
0        TJAC   11010                            Mero expediente            0
1        TJAC      60                     Expedição de documento            0
2        TJAC   12065  Cumprimento de Suspensão ou Sobrestamento            0
3        TJAC      85                                    Petição            0
4        TJAC   11010                            Mero expediente            0
...       ...     ...                                        ...          ...
5489    TRETO   11983                   Retificação de movimento            0
5490    TRETO     132                                Recebimento            0
5491    TRETO   11383                            Ato ordinatório            0
5492    TRETO   11010                            Mero expediente            0
5493    TRETO   12215            Processo devolvido à Secretaria            0

[5493 rows x 4 columns]

In [12]:
df_sentence = df[df['is_sentenca'] == 1]
df_n_sentence = df[df['is_sentenca'] == 0]

df_n_sentence_top_50 = df_n_sentence.head(50)

In [14]:
df_final = pd.concat([df_sentence, df_n_sentence_top_50])

In [15]:
df_final.head()

    Tribunal  Codigo                              Nome  is_sentenca
189     TJAM   12185  Decisão Interlocutória de Mérito            1
190     TJAM   12185  Decisão Interlocutória de Mérito            1
197     TJAM   12185  Decisão Interlocutória de Mérito            1
607     TJES       3                           Decisão            1
609     TJES       3                           Decisão            1

In [17]:
df_final.to_csv('database\\teste_base_gpt.csv',sep='|',index=False)